# Virtual Environment
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo

# Selenium
screenshots/
reports/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# DB & Zip backups
*.db
*.zip